/* section */

.section{
    margin-top:40px;

}

/*360px*/
.thumbnail{
    display: block;
    width:200px;
    height:200px;
    margin-left:80px;
    border-radius: 15px;   
}

.section-title{
   font-family: 'Courier New', Courier, monospace;
   color:#FFA500; 
   margin:20px 0 0 90px;   
}
.section-title1{
margin:20px 0 0 90px;
font-family: 'Ubuntu', sans-serif;
font-size: 35px;


}
.section-para{
    color:#808080;
    font-family: 'Ubuntu', sans-serif;
    padding-top:20px;
    line-height: 1.5;
    display:block;
    margin:20px 0 0 50px;
    
}
.sub{
    display:flex;
    justify-content: space-between;
    margin:50px 0 0 100px;
    
}
.first, .second, .third, .fourth{
    width:100px;
    height:100px;
    border-radius: 7px;
    cursor:pointer;

}
.first:hover, .second:hover, .third:hover, .fourth:hover{
    opacity:0.5;
    border: 2px solid #F28C28;
}

.second, .third, .fourth{
    margin-left:50px;
}

/*price*/
.section--price{
    font-family:  'Ubuntu', sans-serif;
    display: flex;    
}
.section--price1{
display:flex;
}
.current-price{
font-size:25px;
margin:20px 0 0 40px;   
}
.discount{
font-size: 20px;
color:#ffa500;
margin:21px 0 0 20px; 
}

.before-price{
color:#A8A8A8;
margin:21px 0 0 65px;
}

/* Footer */
.section--footer{
    display:flex;
    /* justify-content: space-between; */
    
}
.minus{
    margin-left:70px;
    font-size: 60px;
    color:#F28C28;
    cursor:pointer;
}
.plus{
    /* margin-right:1000px; */
    font-size: 50px;
    color:#F28C28;
    cursor:pointer;
}
.form-control{
    margin-top:20px;
    margin-left:70px;
    text-align: center;
    width:60px;
    height:30px;
    font-size: 30px;
    color:white;
    border-color: #F28C28;
    background-color: #F28C28;
    /* box-shadow: 0 20px 25px 0 rgb(242, 140, 40); */
}


/* .quantity{
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    margin:8px 0 0 0;
} */
.button{
    margin: 20px 0 0 50px;
    width:200px;
    height:50px;
    border-radius: 9px;
    border-color: #F28C28;
    border-style:double;
    font-family: 'Ubuntu',sans-serif;
    font-weight: bold;
    font-size: 20px;
    color:whitesmoke;
    background-color: #F28C28;
    box-shadow: 0 20px 25px -5px rgb(242, 140, 40);
    cursor:pointer;
    
}
.button:hover{
    opacity:0.5;
}
    

/* .previous{
    margin:0 400px 0 220px;
    
}
.next{
    margin:0 400px 0 150px;
} */
@media screen and (min-width:360px){
    .thumbnail{
        width:300px;
        height:200px;
        margin-left:50px;
        
    }
    .section-title{
        margin-left: 130px;
        font-size: 15px;
    }
    .section-title1{
        margin-left:55px;
        font-size: 20px;
    }
    .section-para{
        margin-left:55px;
        font-size: 15px;
    }
    .sub{
        display:none;
    }
    .current-price{
        margin-left:55px;
        font-size: 20px;
    }
    .section--footer{
        margin-top: 30px;
    }
    .minus{
        margin-left:70px;
        width:20px;

    }
    .quantity{
        margin-left: 100px;
        font-size: 20px;
    }
    .plus{
        margin-left:100px;
        width:20px;
        height:15px;
    }
    .button{
        margin-left:100px;
        margin-top: 30px;
    }
}

@media screen and (min-width:640px){
    .thumbnail{
        width:400px;
        height:300px;
        margin-left:120px;

    }
    .section-title{
        margin-left:250px;
    }
    .section-title1{
        margin-left:180px;
    }
    .section-para{
        margin-left: 100px;
    }
    .current-price{
        margin-left:100px;
    }
    .before-price{
        margin-left:100px;
    }
    .minus{
        margin-left:180px;
    }
    .form-control{
        margin-left:100px;
    }
    .plus{
        margin-right: 170px;
    }
    .button{
        margin-left: 200px;
        margin-top: 20px;
        width:250px;
    }
    .section--footer{
     margin-top: 30px;   
    }
    
}
@media screen and (min-width:768px) {
    .thumbnail{
        width:500px;
        height:400px;
    }
    .section-title{
        font-size: 20px;
        margin-left:280px;
    }
    .section-title1{
        font-size: 30px;
        margin-left:160px;
    }
    .section-para{
        font-size: 20px;
        margin-left: 120px;
    }
    .current-price{
        font-size: 25px;
        margin-left:150px;
    }
    .discount{
        font-size: 23px;
    }
    .before-price{
        margin-left: 250px;
        font-size: 23px;
    }
    .minus{
        margin-left:250px;
    }
    .form-control{
        margin-left: 100px;
    }
    /* .quantity{
        font-size: 25px;
    } */
    .button{
        width:300px;
        margin-left: 242px;
    }
    
}
@media screen and (min-width:1024px) {
    .thumbnail{
        border-radius:15px;
        width:450px;
        height:400px;
        margin:50px 0 0 100px;

    }
    .section{
        display:flex;
    }
    .section-title{
        font-size: 20px;
        margin-left:100px;
    }
    .section-title1{
        font-size: 30px;
        margin-left:100px;
    }
    .section-para{
        font-size:18px;
        margin-left: 100px;
    }
    .section--content{
        margin-top: 50px;
    }
    .sub{
        display:flex;
    }
    .current-price{
        font-size:20px;
        margin-left:100px;
     }
     .discount{
        font-size: 15px;
     }
     .before-price{
        font-size: 15px;
        
     }
     .section--footer{
        display:flexbox;
        justify-content: flex-start;
        
    }
    .minus{
       margin-left:100px;
       font-size: 50px;
    }
    .plus{
        font-size: 50px;
    }
    /* .quantity{
        font-size: 15px;
    } */
    .button{
        width:200px;
        display:block;
        margin-left:150px;

        
    }
    
}
@media screen and (min-width:1280px){
    /* .button{
        width:400px;
        
    }    */
    .section--footer{
        display:flexbox;
        justify-content:flex-start;
    }
}
@media screen and (min-width:1740px){
    .thumbnail{
        margin-left: 200px;
    }
    .sub{
        margin-left:200px;
        
    }
    
}





    

